{"swagger":"2.0","info":{"version":"v17.1.6.3","title":"Genius REST API (Web Services)","contact":{"name":"Genius Solutions","url":"http://www.geniuserp.com","email":"support@geniuserp.com"}},"host":"genius.stafford.co.nz:53215","schemes":["https"],"paths":{"/api/attachments":{"put":{"tags":["Attachments"],"summary":"Creates an attachment","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li><li>Updated in v12.1</li></ul>","operationId":"AttachmentWeb_SaveAttachment","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"attachment","in":"body","description":"Attachment information","required":true,"schema":{"$ref":"#/definitions/AttachmentData"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Nullable[Int32]]"}},"400":{"description":"EntityType invalid"},"401":{"description":"Authentication Required"}},"deprecated":false},"post":{"tags":["Attachments"],"summary":"Creates an attachment","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li><li>Updated in v12.1</li></ul>","operationId":"AttachmentWeb_SaveAttachment","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"attachment","in":"body","description":"Attachment information","required":true,"schema":{"$ref":"#/definitions/AttachmentData"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Nullable[Int32]]"}},"400":{"description":"EntityType invalid"},"401":{"description":"Authentication Required"}},"deprecated":false},"delete":{"tags":["Attachments"],"summary":"Removes multiple attachments by their identifiers","description":"Change History:\r\n                <ul><li>Introduced in v12.1.0</li></ul>","operationId":"AttachmentWeb_DeleteAttachmentsById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"identifiers","in":"query","description":"A list of comma separated attachment's ids.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/attachments/{attachmentId}/file":{"post":{"tags":["Attachments"],"summary":"Append a file to an attachment","description":"Change History:\r\n                <ul><li>Introduced in v12.1.0</li></ul>","operationId":"AttachmentWeb_AppendAttachmentFile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"attachmentId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/attachments/{identifier}":{"get":{"tags":["Attachments"],"summary":"Returns an attachment","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul>","operationId":"AttachmentWeb_GetAttachment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"identifier","in":"path","description":"Attachment ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[AttachmentEntity]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"put":{"tags":["Attachments"],"summary":"Updates an attachment","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li><li>Deprecated in v12.1</li></ul>","operationId":"AttachmentWeb_PutAttachment","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"identifier","in":"path","description":"The attachment Id","required":true,"type":"integer","format":"int32"},{"name":"data","in":"body","description":"Attachment information","required":true,"schema":{"$ref":"#/definitions/AttachmentInfo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":true},"delete":{"tags":["Attachments"],"summary":"Removes an attachment","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul>","operationId":"AttachmentWeb_DeleteAttachment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"identifier","in":"path","description":"Attachment ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/attachments/files/{guid}":{"get":{"tags":["Attachments"],"summary":"Get the attachment embedded file","description":"Change History:\r\n                <ul><li>Introduced in v12.1.0</li></ul>","operationId":"AttachmentWeb_GetAttachmentFile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"guid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Byte[]]"}},"401":{"description":"Authentication Required"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/attachments/viewModel/{entityType}/{linkedEntityId}":{},"/api/attachments/{productionTaskId}/treeview-model":{"get":{"tags":["Attachments"],"summary":"Get the given item phantom childrens and theyr children recursively","operationId":"AttachmentWeb_GetAttachmentTreeViewModelData","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productionTaskId","in":"path","description":"Id of the production task from which to start building the tree","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[AttachmentTreeViewModel]"}}},"deprecated":false}},"/api/attachments/viewModel":{},"/api/attachments/files/content/{identifier}":{"get":{"tags":["Attachments"],"summary":"Get the attachment embedded file","description":"Change History:\r\n                <ul><li>Introduced in v12.1.0</li></ul>","operationId":"AttachmentWeb_GetFileContent","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"identifier","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Byte[]]"}},"401":{"description":"Authentication Required"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/attachments/item/{itemId}/picture/{width}":{"get":{"tags":["Attachments"],"summary":"Gets the attachment image​ for the item with a max width.","description":"Change History:\r\n                <ul><li>Introduced in v11.1</li></ul>","operationId":"AttachmentWeb_GetImageForItemWithWidth","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"itemId","in":"path","description":"The item identifier.","required":true,"type":"integer","format":"int32"},{"name":"width","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[StreamContent]"}}},"deprecated":false}},"/api/attachments/{identifier}/picture/{width}":{"get":{"tags":["Attachments"],"summary":"Gets the attachment image with a max width.","description":"Change History:\r\n                <ul><li>Introduced in v11.1</li></ul>","operationId":"AttachmentWeb_GetPictureWithMaxWidth","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"identifier","in":"path","description":"The identifier.","required":true,"type":"integer","format":"int32"},{"name":"width","in":"path","description":"The width.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[StreamContent]"}}},"deprecated":false}},"/api/attachments/picture":{"get":{"tags":["Attachments"],"summary":"Gets the attachment image sized to the required width.","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul>","operationId":"AttachmentWeb_GetSizedPicture","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"imageIdentifier","in":"query","description":"The image identifier.","required":true,"type":"string"},{"name":"width","in":"query","description":"The width of the image (in pixel).","required":false,"type":"integer","format":"int32"},{"name":"height","in":"query","description":"The height of the image (in pixel). If not provided, keep the ratio.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[StreamContent]"}},"404":{"description":"Ressource not found"}},"deprecated":false}},"/api/attachments/{identifier}/thumbnail":{"get":{"tags":["Attachments"],"summary":"Gets the attachment image as a thumbnail.","description":"Change History:\r\n                <ul><li>Introduced in v11.1</li></ul>","operationId":"AttachmentWeb_GetThumbnail","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"identifier","in":"path","description":"The attachment Id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[StreamContent]"}}},"deprecated":false}},"/api/attachments/item/{itemId}/thumbnail":{"get":{"tags":["Attachments"],"summary":"Gets the attachment image​ for the item as a thumbnail.","description":"Change History:\r\n                <ul><li>Introduced in v11.1</li></ul>","operationId":"AttachmentWeb_GetThumbnailForItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"itemId","in":"path","description":"The item identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[StreamContent]"}}},"deprecated":false}},"/api/auth/user/profile":{"get":{"tags":["Authentication"],"summary":"Gets the user profile using data of the current user session.","description":"Change History:\r\n                <ul><li>Introduced in v11.1</li></ul>","operationId":"AuthenticationWeb_GetUserProfile","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[UserProfileEntity]"}}},"deprecated":false}},"/api/auth/claims":{"post":{"tags":["Authentication"],"summary":"Authenticates and return claims for a given user.","description":"Change History:\r\n                <ul><li>Introduced in v12.0</li></ul><hr /><p>Notes:</p>\r\n                This methods should be used to get the list of claims of a given user in order to guide the authentication process.\r\n                This isn't a replacement for the auth/login since this only method doesn't initiates a Genius rest api session.","operationId":"AuthenticationWeb_Claims","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"claimRequest","in":"body","description":"The claim request object containing username and password","required":true,"schema":{"$ref":"#/definitions/ClaimsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[UserClaims]"}},"400":{"description":"When and error occurs trying to fetch user information"},"401":{"description":"When provided username and password aren't ok"}},"deprecated":false}},"/api/auth/licenses/{licenseType}/installed":{"get":{"tags":["Authentication"],"summary":"Verifies if a license is installed or not.","description":"Change History:\r\n                <ul><li>Introduced in v11.0</li></ul>","operationId":"AuthenticationWeb_GetInstalledLicenseStatus","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"licenseType","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[String]"}}},"deprecated":false}},"/api/auth/userinfo":{},"/api/auth/login-mobile":{},"/api/auth":{"get":{"tags":["Authentication"],"summary":"Returns profiles by their authentication tokens","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul>","operationId":"AuthenticationWeb_GetProfil","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[RestSessionInfo]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"post":{"tags":["Authentication"],"summary":"Logs in with information","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr /><p>Notes:</p>\r\n                If you enable password encryption in \"Web.config,\" you must comply with the following rules:<br /><ul><li>Use the encryption keys in \"Web.config\" (you can override them).</li><li>Encode in ANSI.</li><li>Use HMACSHA256 methods to encode passwords.</li><li>Remove all '-' characters.</li><li>Lower the strings.</li></ul><pre><em>// Example of a C# method</em><code>public string Encryption(string key, string text)<br />{<br />var bytesKey = Encoding.Default.GetBytes(key);<br />var bytesText = Encoding.Default.GetBytes(text);<br />var hash256 = new HMACSHA256(bytesKey);<br />var result = hash256.ComputeHash(bytesText);<br />return BitConverter.ToString(result).Replace(\"-\", \"\").ToLower();<br />}</code></pre><pre><em>// Example of a PHP method</em><code>function($key, $text)<br />{<br />$hash = hash_hmac('sha256', $text, $key);<br />$hash = str_replace('-', '', $hash);<br />return strtolower($hash);<br />}</code></pre>\r\n                Returns a token. You must set the token in the authorization property of the request header with the \"Bearer\" type.<br /><pre><code>Authorization: Bearer eaa61c7241bd4cc9449fa25bb4e57ff1</code></pre>","operationId":"AuthenticationWeb_Login","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"information","in":"body","description":"Login information","required":true,"schema":{"$ref":"#/definitions/RestAuthenticationInfo"}},{"name":"license","in":"query","description":"License to use (<strong class=\"pink\">WebServices</strong> by default)","required":false,"type":"string","enum":["unknow","server","client","dataCollection","thirdParties","gTA","shopfloor","timeSheet","mobile","webServices","configurator","readOnly","taskAutomation","workflowDesigner","geniusCAD","allowedInRestWebServices","geniusEFT","activationLicenses"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[String]"}}},"deprecated":false},"delete":{"tags":["Authentication"],"summary":"Logs out with an authentication token","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul>","operationId":"AuthenticationWeb_Logout","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/auth/licenses":{"get":{"tags":["Authentication"],"summary":"Returns all types of licenses","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul>","operationId":"AuthenticationWeb_GetLicences","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[String]]"}}},"deprecated":false}},"/api/auth/active":{"get":{"tags":["Authentication"],"summary":"Checks whether the session is active","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul>","operationId":"AuthenticationWeb_IsActive","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"token","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}}},"deprecated":false}},"/api/boms/SaveBomSimulation":{},"/api/boms/SaveRoutingSimulation":{},"/api/boms/SaveWorkflow":{"post":{"tags":["Bills of Manufacturing"],"summary":"Save workflow step","description":"Change History:\r\n                <ul><li>Introduced in v10.1</li></ul><hr />","operationId":"BomWeb_SaveWorkflow","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"entityId","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"entityTypeId","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"processWorkflowStepId","in":"query","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}}},"deprecated":false}},"/api/boms/{product}/Explose":{"get":{"tags":["Bills of Manufacturing"],"summary":"Returns BOM simulation entities by their product codes","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr /><h5>Result</h5><p>The result will be a BomSimulationEntity list. To know the schema for each entity, see the request for the new entity.</p><pre><code>Example : GET /api/data/properties/BomSimulationEntit/new</code></pre>","operationId":"BomWeb_Explose","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"product","in":"path","description":"Product code","required":true,"type":"string"},{"name":"version","in":"query","description":"BOM version (<strong class=\"pink\">null</strong> by default)","required":false,"type":"integer","format":"int32"},{"name":"username","in":"query","description":"User (<strong class=\"pink\">empty</strong> by default)","required":false,"type":"string"},{"name":"simulation","in":"query","description":"If set to <strong class=\"pink\">true</strong>, takes into account simulation items (<strong class=\"pink\">false</strong> by default)","required":false,"type":"boolean"},{"name":"loadItem","in":"query","description":"If set to <strong class=\"pink\">true</strong>, loads BOM node items (<strong class=\"pink\">false</strong> by default)","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[BomSimulationEntity]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/boms/ExploseCad":{"post":{"tags":["Bills of Manufacturing"],"summary":"Returns BOM simulation entities by their product codes","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr /><h5>Result</h5><p>The result will be a BomSimulationEntity list. To know the schema for each entity, see the request for the new entity.</p><pre><code>Example : GET /api/data/properties/BomSimulationEntit/new</code></pre>","operationId":"BomWeb_ExploseCadBomTree","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"products","in":"body","description":"Product code","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"loadItem","in":"query","description":"If set to <strong class=\"pink\">true</strong>, loads items (<strong class=\"pink\">false</strong> by default)","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[BomSimulationEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/boms/{product}/TemplateTasks":{"get":{"tags":["Bills of Manufacturing"],"summary":"Returns routing simulation entities by their product codes","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr /><h5>Result</h5><p>The result will be a RoutingSimulationEntity list. To know the schema for each entity, see the request for the new entity</p><pre><code>Example : GET /api/data/properties/RoutingSimulationEntity/new</code></pre>","operationId":"BomWeb_GetTemplateItemTasks","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"product","in":"path","description":"Product code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[RoutingSimulationEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/boms/SaveBomSimulationItem":{},"/api/boms/set-auto-generated-purchased-item-for-engineering-subcontracting-tasks":{},"/api/boms/set-auto-generated-purchased-item-for-subcontracting-tasks":{},"/api/configuration/filter/{id}":{"get":{"tags":["Configuration"],"summary":"Returns filter by ID","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_GetFilterById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Filter ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[GlobalFilterHeaderEntity]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"delete":{"tags":["Configuration"],"summary":"Delete filter","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_DeleteFilter","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Filter id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/view/{id}":{"get":{"tags":["Configuration"],"summary":"Returns view by ID","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_GetViewById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"View ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[GeniusViewEntity]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"delete":{"tags":["Configuration"],"summary":"Delete view","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_DeleteView","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"View ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/all-projects":{},"/api/configuration/companies":{"get":{"tags":["Configuration"],"summary":"Returns all companies","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"ConfigurationWeb_GetCompanies","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[CompanyInfo]]"}}},"deprecated":false}},"/api/configuration/companies/{code}":{"get":{"tags":["Configuration"],"summary":"Returns company information by code","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"ConfigurationWeb_GetCompany","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"Company code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[CompanyInfo]"}}},"deprecated":false}},"/api/configuration/environment/{key}":{"get":{"tags":["Configuration"],"summary":"Returns environment variables by their keys","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"ConfigurationWeb_GetEnvironment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"key","in":"path","description":"Variable key","required":true,"type":"string","enum":["cADPath","databaseBackupPath","dataCollectionPath","server","sQLServer","systemUpdatesPath","vaultPath","version","encryptionEnable","tokenExpirationEnable","onlineHelpUrl"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[String]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/environment":{"get":{"tags":["Configuration"],"summary":"Returns all environment variable keys","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"ConfigurationWeb_GetEnvironmentList","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[String]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/filters":{"get":{"tags":["Configuration"],"summary":"Returns all filters","description":"Change History:\r\n                <ul><li>Introduced in v12</li><li>Add optional parameter loadRelated in v13</li></ul><hr />","operationId":"ConfigurationWeb_GetFilters","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"entityType","in":"query","description":"The entity type name","required":false,"type":"string"},{"name":"loadRelated","in":"query","description":"If we want to load related entities to Filter. Default = true","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[GlobalFilterHeaderEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"put":{"tags":["Configuration"],"summary":"Create or update filters.","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />\r\n                Filters should be provided with related relations, sorts, sets and expressions.\r\n                Will return an object with the saved filter header along with a success indicator.","operationId":"ConfigurationWeb_SaveFilter","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"filters","in":"body","description":"Filters to save with related sub entities","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/GlobalFilterHeaderEntity"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[GlobalFilterHeaderEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"post":{"tags":["Configuration"],"summary":"Create or update filters.","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />\r\n                Filters should be provided with related relations, sorts, sets and expressions.\r\n                Will return an object with the saved filter header along with a success indicator.","operationId":"ConfigurationWeb_SaveFilter","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"filters","in":"body","description":"Filters to save with related sub entities","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/GlobalFilterHeaderEntity"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[GlobalFilterHeaderEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/version":{"get":{"tags":["Configuration"],"summary":"Returns the current Genius version","description":"Change History:\r\n                <ul><li>Introduced in v12.1</li></ul><hr />","operationId":"ConfigurationWeb_GetGeniusVersion","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[String]"}}},"deprecated":false}},"/api/configuration/parameters/{code}":{"get":{"tags":["Configuration"],"summary":"Returns company parameter values by their codes","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"ConfigurationWeb_GetParameter","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"Company parameter code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[String]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"put":{"tags":["Configuration"],"summary":"Updates company parameter values","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"ConfigurationWeb_UpdateParameter","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"code","in":"path","description":"Company parameter code","required":true,"type":"string"},{"name":"data","in":"body","description":"Value to set","required":true,"schema":{"$ref":"#/definitions/ValueInfo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/parameters":{"get":{"tags":["Configuration"],"summary":"Returns all company parameter codes","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"ConfigurationWeb_GetParameterList","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[String]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/projects":{"get":{"tags":["Configuration"],"summary":"Gets the accessible projects using data of the current user session.","description":"Change History:\r\n                <ul><li>Introduced in v12.0.1</li></ul>","operationId":"ConfigurationWeb_GetProjects","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"userProjects","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[ProjectInfo]]"}}},"deprecated":false}},"/api/configuration/servertime":{},"/api/configuration/views":{"get":{"tags":["Configuration"],"summary":"Returns all views associated to the user.","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_GetViews","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"query","description":"The project id to fetch views for","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[GeniusViewEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"put":{"tags":["Configuration"],"summary":"Create or update a view","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />\r\n                Views should be provided with related view settings and view setting grid objects.\r\n                Will return an object with the saved views along with a success indicator and primary keys.","operationId":"ConfigurationWeb_SaveView","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"views","in":"body","description":"list of GeniusView entity","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/GeniusViewEntity"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[GeniusViewEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false},"post":{"tags":["Configuration"],"summary":"Create or update a view","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />\r\n                Views should be provided with related view settings and view setting grid objects.\r\n                Will return an object with the saved views along with a success indicator and primary keys.","operationId":"ConfigurationWeb_SaveView","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"views","in":"body","description":"list of GeniusView entity","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/GeniusViewEntity"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[GeniusViewEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api":{"get":{"tags":["Configuration"],"summary":"Checks whether the service is active","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />\r\n                Returns the HTTP 200 status code if OK. No content.","operationId":"ConfigurationWeb_Ping","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}}},"deprecated":false}},"/api/configuration/fiscalperiods":{"get":{"tags":["Configuration"],"summary":"Returns all fiscal periods.","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_GetAllFiscalPeriods","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[IEnumerable[FiscalPeriodEntity]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/fiscalperiods/current":{"get":{"tags":["Configuration"],"summary":"Returns the current fiscal period.","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_GetCurrentFiscalPeriod","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[FiscalPeriodEntity]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/fiscalperiods/current/{year}/{period}":{"put":{"tags":["Configuration"],"summary":"Updates the current iscal period","description":"Change History:\r\n                <ul><li>Introduced in v12</li></ul><hr />","operationId":"ConfigurationWeb_UpdateCurrentFiscalPeriod","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"year","in":"path","description":"The year of the new current fiscal period","required":true,"type":"string"},{"name":"period","in":"path","description":"The period of the new current fiscal period","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configuration/customfields/datasource/{id}":{"get":{"tags":["Configuration"],"summary":"Get possible values for a CustomField datasource","description":"Change History:\r\n                <ul><li>Introduced in v12.1.0</li></ul><hr />","operationId":"ConfigurationWeb_GetCustomFieldDatasourceValues","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Datasource's id to get values","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Object]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configurator/start/{productId}/{quantity}/{customerId}":{"post":{"tags":["Configurator"],"summary":"Start a new configuration session.","description":"Change History:\r\n                <ul><li>Introduced in v11.0</li></ul><hr />","operationId":"ConfiguratorWeb_GetConfigurationSession","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"productId","in":"path","description":"The item id of the configured product.","required":true,"type":"integer","format":"int32"},{"name":"quantity","in":"path","description":"The quantity for the configured item.","required":true,"type":"integer","format":"int32"},{"name":"customerId","in":"path","description":"The customer Id","required":true,"type":"integer","format":"int32"},{"name":"quoteDetailId","in":"query","description":"The Id of the quote detail.","required":false,"type":"integer","format":"int32"},{"name":"useLatestEstimateHeaderForProductAsTemplate","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Object]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configurator/setparametervalue/{configuratorSessionId}/{parameterId}":{"put":{"tags":["Configurator"],"summary":"Set the new value to the parameter","description":"Change History:\r\n                <ul><li>Introduced in v11.0</li></ul><hr />","operationId":"ConfiguratorWeb_SetParameterValue","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"configuratorSessionId","in":"path","description":"The Guid of the configuration session","required":true,"type":"string"},{"name":"parameterId","in":"path","description":"The parameter Id","required":true,"type":"integer","format":"int32"},{"name":"value","in":"body","description":"The new value of the parameter","required":true,"schema":{"$ref":"#/definitions/ValueInfo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[ConfigurationSessionChanges]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configurator/products/{companyName}":{"get":{"tags":["Configurator"],"summary":"Get all configurable products for the company","description":"Change History:\r\n                <ul><li>Introduced in v11.0</li></ul><hr />","operationId":"ConfiguratorWeb_GetProducts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"companyName","in":"path","description":"The company code.","required":true,"type":"string"},{"name":"activeProfilesOnly","in":"query","description":"Whether or not to filter out inactive profiles.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[Object]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configurator/selector/{selectionStep}":{},"/api/configurator/savereturningquotedetailid/{configuratorSessionId}/{quoteHeaderCode}":{"put":{"tags":["Configurator"],"summary":"Ends the configuration session to add configured item to quote.","description":"Change History:\r\n                <ul><li>Introduced in v12.1</li></ul><hr />","operationId":"ConfiguratorWeb_SaveConfigurationSessionReturningQuoteDetailId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"configuratorSessionId","in":"path","description":"The Guid of the current session.","required":true,"type":"string"},{"name":"quoteHeaderCode","in":"path","description":"The quote Header to add the configured Item to.","required":true,"type":"string"},{"name":"quoteDetailId","in":"query","description":"The quote Detail Id if it already exists. Leave blank to create a new detail.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Nullable[Int32]]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configurator/setanswerquantity/{configuratorSessionId}/{answerId}":{"put":{"tags":["Configurator"],"summary":"Sets the answer quantity.","description":"Change History:\r\n                <ul><li>Introduced in v11.0</li></ul><hr />","operationId":"ConfiguratorWeb_SetAnswerQuantity","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"configuratorSessionId","in":"path","description":"The configurator session identifier.","required":true,"type":"string"},{"name":"answerId","in":"path","description":"The answer identifier.","required":true,"type":"string"},{"name":"quantity","in":"query","description":"The quantity.","required":true,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[ConfigurationSessionChanges]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/configurator/isquotesourceestimateheaderuptodate/{productId}/{quoteDetailId}":{},"/api/customer-rfq/{customerRfqHeaderCode}/details/new":{"get":{"tags":["Customer RFQ"],"summary":"Returns a new quote detail.","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul><hr />","operationId":"CustomerRfqWeb_CreateCustomerRfqDetail","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"customerRfqHeaderCode","in":"path","description":"The linked quote header code.","required":true,"type":"string"},{"name":"itemCode","in":"query","description":"The item code to set.","required":false,"type":"string"},{"name":"equipmentId","in":"query","description":"The parent equipment of the item. Sets to null, if the item is not associated to an equipment.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[CustomerRfqDetailViewEntity]"}}},"deprecated":false}},"/api/customer-rfq/header":{"post":{"tags":["Customer RFQ"],"summary":"Returns a new CustomerRfqHeaderViewEntity.","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul><hr />","operationId":"CustomerRfqWeb_CreateCustomerRfqHeader","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"billToCustomerCode","in":"query","required":true,"type":"string"},{"name":"shipToCustomerCode","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[CustomerRfqHeaderViewEntity]"}}},"deprecated":false}},"/api/customer-rfq/creationviewmodel":{},"/api/customer-rfq/detail":{"get":{"tags":["Customer RFQ"],"summary":"Returns a customer rfq detail.","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul><hr />","operationId":"CustomerRfqWeb_GetCustomerRfqDetail","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"query","description":"The customerRfqDetail Id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}}},"deprecated":false}},"/api/customer-rfq/detail/contacts":{"get":{"tags":["Customer RFQ"],"summary":"Returns the data source for the contact drop down.","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul><hr />","operationId":"CustomerRfqWeb_GetCustomerRfqDetailContactsDatasource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"billToCustomerCode","in":"query","required":true,"type":"string"},{"name":"returnQuantity","in":"query","required":true,"type":"integer","format":"int32"},{"name":"searchString","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}}},"deprecated":false}},"/api/customer-rfq/detail/items":{"get":{"tags":["Customer RFQ"],"summary":"Returns the data source for the item drop down.","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul><hr />","operationId":"CustomerRfqWeb_GetCustomerRfqDetailItemsDatasource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"billToCustomerCode","in":"query","required":true,"type":"string"},{"name":"returnQuantity","in":"query","required":true,"type":"integer","format":"int32"},{"name":"searchString","in":"query","required":false,"type":"string"},{"name":"equipmentId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"itemCode","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Boolean]"}}},"deprecated":false}},"/api/customer-rfq/headerviewmodel":{},"/api/customer-rfq/quotestatusviewmodel":{},"/api/customer-rfq/detail/{fieldToSimulate}/simulate":{"post":{"tags":["Customer RFQ"],"summary":"Simulates a quote detail field value","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul><hr />","operationId":"CustomerRfqWeb_SimulateCustomerRfqDetailField","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"fieldToSimulate","in":"path","description":"The field to be simulated.","required":true,"type":"string"},{"name":"simulationData","in":"body","description":"The quote detail data to simulate.","required":true,"schema":{"$ref":"#/definitions/QuoteDetailSimulationData"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[CustomerRfqDetailViewEntity]"}},"400":{"description":"The provided field to simulate is not supported"},"401":{"description":"Authentication Required"},"403":{"description":"User does not have permission to edit the field or entity"},"404":{"description":"Quote does not exist"}},"deprecated":false}},"/api/customer-rfq/creationviewmodel/billto":{"get":{"tags":["Customer RFQ"],"summary":"Returns the available BillTo customer to create a RFQ","description":"Change History:\r\n                <ul><li>Introduced in v12.2</li></ul><hr />","operationId":"CustomerRfqWeb_GetBillToDatasourceForCreateRfq","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"returnQuantity","in":"query","required":true,"type":"integer","format":"int32"},{"name":"searchString","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[List[CustomerEntity]]"}}},"deprecated":false}},"/api/data/batch/{entityType}":{"post":{"tags":["Data"],"summary":"Pushes an entity transaction","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"DataWeb_Batch","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"entityType","in":"path","description":"Type of entity used","required":true,"type":"string","enum":["abcEntity","accountingExportLogEntity","accountingIntegrityCheckGlListEntity","accountingIntegrityCheckHeaderEntity","accountingIntegrityCheckHeaderViewEntity","accountingIntegrityCheckSummaryEntity","accountingTransactionDetailEntity","accountingTransactionHeaderEntity","accountingTransactionTypeEntity","accountingVariationPerPeriodEntity","accrualCogsEntity","activityEntity","activityLinkedEntity","activityLinkedManufacturingStepVersionImportEntity","activityLinkedProductionTaskImportEntity","activityLinkedRoutingImportEntity","activityLinkedUserTaskImportEntity","activityLinkedViewEntity","activityTemplateDetailEntity","activityTemplateHeaderEntity","activityTemplateHeaderViewEntity","activityValueTypeEntity","activityViewEntity","additionalChargeEntity","advancedBillingEntity","apAccrualTemplateEntity","aPInvoiceDetailEntity","aPInvoiceDetailAddCostEntity","aPInvoiceDetailGlEntity","apInvoiceDetailGlIntercoEntity","aPInvoiceDetailTaxEntity","aPInvoiceDetailViewEntity","aPInvoiceHeaderEntity","aPInvoiceStatusEntity","aPPaymentEntity","aPPaymentDetailViewEntity","aPPaymentGLEntity","aPPaymentInvoiceEntity","aPPaymentInvoiceBalanceEntity","aPPaymentInvoiceViewEntity","aPPaymentModeEntity","aPPaymentNavViewEntity","aPPaymentStatusEntity","aPPaymentTypeEntity","aPPaymentViewEntity","apsForecastEntity","apTransactionEntity","apTransactionViewEntity","arTransactionEntity","arTransactionViewEntity","assistanceReasonEntity","attachmentEntity","attachmentImportEntity","auditDetailEntity","auditHeaderEntity","automaticAllocationEntity","automaticConsumptionEntity","automaticConsumptionJobEntity","availableTemplateAttachmentEntity","backdatedInventoryDashboardEntity","bankEntity","bankCurrencyEntity","bankReconciliationEntity","billOfMaterialEntity","bomcostRollupXmEntity","bomEstimateRollupResultEntity","bomExplodedEntity","bomExploseVersionedEntity","bomItemEntity","bomItemEstimateEntity","bomItemEstimateImportEntity","bomItemVersionEntity","bomItemVersionCustomFieldImportEntity","bomSimulationEntity","bomSimulationExploseEntity","bomSimulationExploseVersionedEntity","bomSubcontractingEstimateEntity","bomSubcontractingEstimateImportEntity","bomVersionEntity","bomVersionExplodedEntity","bomVersionMilestoneEntity","bomVersionMilestoneImportEntity","bomVersionMilestoneViewEntity","budgetJobCostEntity","budgetPerPeriodViewEntity","budgetSummaryBOMRollupEntity","budgetSummaryEstimateRollupEntity","buyerEntity","calculationModeEntity","carrierEntity","categoryConsumptionEntity","categoryOfAttachmentEntity","classeEntity","classificationEntity","cogsEntity","communicationContactTemplateEntity","communicationLogEntity","communicationLogContactEntity","communicationTemplateEntity","communicationTypeEntity","companyVariableEntity","companyVariableValueEntity","comparativeJcDetailEntity","comparativeJcJobListEntity","comparativeJobViewEntity","configurationDetailEntity","configurationHeaderEntity","configuratorConditionDetailEntity","configuratorConditionHeaderEntity","configuratorEstimateOptionEntity","configuratorParameterEntity","configuratorParameterAnswerEntity","configuratorParameterBomItemVersionActionEntity","configuratorParameterBomItemVersionFormulaEntity","configuratorParameterBomItemVersionFormulaLinkEntity","configuratorParameterConditionEntity","configuratorParameterDataSourceEntity","configuratorParameterSectionEntity","configuratorParameterSetEntity","configuratorProfileEntity","constraintSourceEntity","constraintTypeEntity","consumptionReservationLinkEntity","contactEntity","contactEmailEntity","contactGroupEntity","contactGroupReportGroupEntity","contactImportEntity","contactInformationTypeEntity","contactLinkedEntity","contactLinkedGroupEntity","contactLinkGroupImportEntity","contactLinkImportEntity","contactPhoneEntity","controlTypeEntity","convertedImagesEntity","correctionCategoryEntity","costCategoryEntity","costCategoryLoadingViewEntity","costingModeEntity","costPlusImputationEntity","costPlusImputationApprovalDetailEntity","costPlusImputationApprovalHeaderEntity","costPlusImputationDetailEntity","costPlusImputationViewEntity","costPlusJobEntity","costRollUpDetailEntity","costTypeEntity","countryEntity","creditCardTransactionEntity","creditLimitFilteringViewEntity","creditLimitViewEntity","currencyEntity","currencyTransactionTypeEntity","customerEntity","customerAveragePaymentDelaysViewEntity","customerBankInformationEntity","customerCreditMarginEntity","customerGroupEntity","customerGroupViewEntity","customerInvoiceAppliedAdvanceEntity","customerInvoiceDetailEntity","customerInvoiceDetailGlEntity","customerInvoiceDetailViewEntity","customerInvoiceHeaderEntity","customerInvoiceHeaderGlEntity","customerInvoiceQtyEntity","customerInvoiceStatusEntity","customerInvoiceTaxesEntity","customerItemPriceEntity","customerPaymentModeEntity","customerReceiptEntity","customerReceiptDetailViewEntity","customerReceiptGlEntity","customerReceiptInvoiceEntity","customerReceiptInvoiceBalanceEntity","customerReceiptInvoiceViewEntity","customerReceiptTypeEntity","customerReceiptViewEntity","customerRfqDetailViewEntity","customerRfqHeaderViewEntity","customerStatementSummaryInfoTemplateEntity","customerViewEntity","customFieldDefinitionEntity","customFieldInventoryLotEntity","customFieldMappingEntity","customFieldSqlTypeViewEntity","customFieldValueEntity","customFieldViewEntity","customMasterFilesEntity","customModulesEntity","dashboardCostsEntity","dashboardGlAccountDetailEntity","dashboardInventoryItemByWarehouseEntity","dashboardInventoryLotEntity","dashboardMaterialAllocationEntity","dashboardObjectEntity","dashboardSalesOrderBookEntity","dashboardSchedulingEntity","dashboardSettingEntity","dashboardWipEntity","dataCollectionMessagingEntity","dataSourceEntity","dataSourceTypeEntity","dateFormatBankCheckReportViewEntity","dbrJobScheduleEntity","defaultExchangeRateTypePerTransactionEntity","departmentEntity","depositEntity","depositNavViewEntity","depositStatusEntity","dimTimeEntity","directLabourEntity","directLabourNeatEntity","discountSheetDetailEntity","discountSheetHeaderEntity","documentPackagingSourceEntity","drumEntity","drumEquivalentUnitEntity","drumEquivalentUnitViewEntity","drumGroupEntity","drumViewEntity","ediGroupEntity","ediTransactionEntity","ediTransactionLogEntity","ediTransactionSalesOrderEntity","eFTDetailEntity","eFTHeaderEntity","eFTHeaderNavViewEntity","embeddedFileEntity","employeeEntity","employeeAvailableBankEntity","employeeBankConfigurationViewEntity","employeeConfigurationEntity","employeeConfigurationImportEntity","employeeConfigurationViewEntity","employeeScheduleEntity","employeeTimesheetEntryEntity","employeeTypeEntity","employeeWageEntity","employeeWarehouseDefaultLocationEntity","employeeWarehouseRestrictionEntity","employeeWarehouseViewEntity","engineeringSpecification1Entity","engineeringSpecification10Entity","engineeringSpecification11Entity","engineeringSpecification12Entity","engineeringSpecification13Entity","engineeringSpecification14Entity","engineeringSpecification15Entity","engineeringSpecification16Entity","engineeringSpecification2Entity","engineeringSpecification3Entity","engineeringSpecification4Entity","engineeringSpecification5Entity","engineeringSpecification6Entity","engineeringSpecification7Entity","engineeringSpecification8Entity","engineeringSpecification9Entity","entityWatcherConflictEntity","equipmentEntity","equipmentChildImportEntity","equipmentGroupEntity","equipmentImportEntity","equipmentSparePartEntity","equipmentSparePartImportEntity","equipmentViewEntity","equipmentWarrantyEntity","equipmentWarrantyImportEntity","equipmentWarrantyViewEntity","estimateCurrencyEntity","estimateCurrencyViewEntity","estimateDocumentEntity","estimateHeaderEntity","estimateHeaderImportEntity","estimateHeaderViewEntity","exchangeRateHistoryEntity","exchangeRateTypeEntity","expenseCategoryEntity","expenseCategoryViewEntity","expenseDetailEntity","expenseDetailGlEntity","expenseDetailImportEntity","expenseDetailTaxEntity","expenseDetailTaxViewEntity","expenseDetailViewEntity","expenseHeaderEntity","expenseHeaderImportEntity","expenseHeaderViewEntity","familyEntity","familyGroupEntity","familyViewEntity","fieldServicesAssignmentGroupEntity","fieldServicesAssignmentGroupDateRangeEntity","fieldServicesAssignmentGroupEmployeeEntity","fieldServicesAssignmentGroupJobMilestoneEntity","filterEntryPointDetailEntity","filterEntryPointHeaderEntity","filterExpressionEntity","filterHeaderEntity","filterRelationEntity","filterSetEntity","filterSortEntity","financialBudgetDetailEntity","financialBudgetDetailAmountEntity","financialBudgetHeaderEntity","financialBudgetHeaderViewEntity","financialDashboardvsBudgetTemplateEntity","financialDashboardvsPrevYearTemplateEntity","fiscalPeriodEntity","fiscalPeriodWithSystemPeriodEntity","fiscalYearEntity","fixedPriceProjectInfoEntity","fixedPriceSalesOrderDetailEntity","genericMasterFilesEntity","genericMasterFilesValueEntity","geniusDashboardConfigDetailEntity","geniusDashboardConfigHeaderEntity","geniusTypeEntity","glAccountEntity","glAccountCurrencyEntity","glAccountGroupEntity","glAccountGroupClassEntity","glAccountGroupClassTypeEntity","glaccountOverrideMatrixValidationEntity","glAccountSegmentEntity","glAccountSegmentCodeEntity","glAccountSegmentOverrideEntity","glAccountSegmentOverrideDetailEntity","glAccountSubClassEntity","glAccountViewEntity","glBreakdownByCategoryEntity","glInventoryValueItemWarehouseEntity","glInventoryValueWarehouseEntity","glOverrideCategoryEntity","glOverrideEntityListEntity","glOverrideEntitySourceEntity","glOverrideMasterFileEntity","gLTemplateDetailEntity","gLTemplateDetailViewEntity","gLTemplateHeaderEntity","glTransactionEntity","glTransactionExportedBatchEntity","glTransactionExtendedEntity","glTransactionHeaderEntity","icTransactionEntity","icTransactionViewEntity","incomeRecognitionEntity","incomeRecognitionInvoiceEntity","incomeRecognitionViewEntity","inspectionEntity","inspectionTypeEntity","intercoGlAccountEntity","interwarehouseContractDefinitionEntity","interwarehouseDocumentLinkEntity","interwarehouseSalesOrderCreationModeEntity","interwarehouseTransferDetailEntity","interwarehouseTransferDetailViewEntity","interwarehouseTransferHeaderEntity","interwarehouseTransferHeaderViewEntity","interwarehouseTransferQtyEntity","interwarehouseTransferQtyReceivedEntity","interwarehouseTransferQtyViewEntity","inventoryEntity","inventoryAdjustmentEntity","inventoryByLocationEntity","inventoryCostHistoryEntity","inventoryCostTypeEntity","inventoryCreationDetailEntity","inventoryCreationDetailImportEntity","inventoryCreationHeaderEntity","inventoryCustomEntity","inventoryLotEntity","inventoryLotByLocationEntity","inventoryLotByLocationViewEntity","inventoryLotStatusEntity","inventoryReleaseEntity","inventoryReleaseDetailedViewEntity","inventoryReleaseSummaryEntity","inventoryTransactionEntity","inventoryTransactionBackdatedEntity","inventoryTransactionGLTransactionEntity","inventoryTransactionHistoryDetailViewEntity","inventoryTransactionHistoryHeaderViewEntity","inventoryTransactionLocationEntity","inventoryTransactionLotEntity","inventoryTransactionViewEntity","inventoryTransactionWarehouseEntity","inventoryValueItemWarehouseEntity","inventoryValueWarehouseEntity","invLocEntity","invLocLocalisationEntity","invlocTraceEntity","itemEntity","itemAdditionalChargeEntity","itemBehaviorViewEntity","itemBudgetEntity","itemBudgetImportEntity","itemConversionFactorEntity","itemConversionListEntity","itemCustomEntity","itemCustomFieldImportEntity","itemDocumentRevisionEntity","itemEngineeringEntity","itemGeneratorExpressionEntity","itemGeneratorResultEntity","itemGeneratorSettingEntity","itemInventoryEntity","itemLightEntity","itemLocationAndInventoryPriorityOrderViewEntity","itemLocationAndInventoryViewEntity","itemLocationsEntity","itemLocationWarehouseImportEntity","itemManufacturerEntity","itemMaterialPlanForecastDetailEntity","itemMaterialPlanForecastHeaderEntity","itemPreliminaryPurchaseEntity","itemPreliminaryPurchaseImportEntity","itemQuantitiesByWarehouseEntity","itemQuantitiesByWarehouseWithWhContractEntity","itemRenamingEntity","itemShortageEntity","itemStatusEntity","itemTypeEntity","itemUsageEntity","itemVariationEntity","itemWarehouseImportEntity","itemWarehousesEntity","jcTransactionEntity","jcTransactionViewEntity","jobEntity","jobAdditionnalInfoViewEntity","jobBudgetEntity","jobBudgetScheduleEntity","jobBudgetScheduleAssignmentEntity","jobBudgetScheduleAssignmentViewEntity","jobBudgetViewEntity","jobChangeOrderLogEntity","jobCostDirectLaborEntity","jobCostingEntity","jobCostInventoryReleaseEntity","jobCostMaterialEntity","jobCostSalesEntity","jobCostSubcontractingEntity","jobDrumTaskListViewEntity","jobExtensionEntity","jobHistoryEntity","jobMilestoneEntity","jobMilestoneImportEntity","jobMilestoneViewEntity","jobPrefixEntity","jobRiskEntity","jobStatusEntity","jobStatusGenericMasterFileEntity","jobTaskConstraintViewEntity","jobViewEntity","journalEntryDetailEntity","journalEntryDetailIntercoEntity","journalEntryHeaderEntity","journalEntryHeaderRecurringViewEntity","journalEntryHeaderViewEntity","languageEntity","lateOpenedPunchEntity","linkedAttachmentEntity","locationEntity","locationCategoryEntity","locationInventoryEntity","logEntity","machineAndRessourceEntity","machineCalendarEntity","machineCalendarCostCategoryEntity","machineCalendarDrumEntity","machineCalendarScheduleEntity","machineCalendarScheduleAvailabilityHoursEntity","machineCalendarViewEntity","machineGroupEntity","machineLoadingEntity","machineMethodConsumptionEntity","manufacturingStepEntity","manufacturingStepEstimateEntity","manufacturingStepEstimateImportEntity","manufacturingStepVersionEntity","manufacturingStepVersionCustomFieldImportEntity","materialAllocationEntity","materialAvailabilityGenericMasterFileEntity","materialCommitmentEntity","materialConsumptionEntity","materialConsumptionDetailEntity","materialConsumptionHeaderEntity","materialConsumptionHeaderViewEntity","materialPlanEntity","materialPlanAssignmentEntity","materialPlanInlistEntity","materialReservationWithConsumptionEntity","milestoneEntity","milestoneGroupEntity","milestoneImportEntity","milestoneTemplateDetailEntity","milestoneTemplateDetailImportEntity","milestoneTemplateDetailViewEntity","milestoneTemplateHeaderEntity","milestoneTemplateHeaderImportEntity","milestoneTemplateHeaderViewEntity","milestoneViewEntity","mpsPlanEntity","mpsPriorityEntity","nCRIncidentEntity","nCRResponsibilityEntity","nCRRootCauseEntity","nCRTreatmentEntity","nonConformityEntity","nonConformityCostEntity","nonConformityMasterFileEntity","nonConformityViewEntity","noteEntity","ongoingAutomaticAllocationEntity","ongoingSubcontractingEntity","openWoDashboardEntity","operationEntity","orderEntrySpecification1Entity","orderEntrySpecification2Entity","originEntity","packagingDetailEntity","packagingDetailViewEntity","packagingHeaderEntity","packagingHeaderViewEntity","packagingQtyEntity","packagingQtyViewEntity","packagingTypeEntity","packagingTypeViewEntity","payableInvoiceGlBreakdownEntity","payableInvoiceHeaderEntity","payableInvoiceTaxesEntity","payBreakTimeEntity","payGroupEntity","paymentTermEntity","periodManagementEntity","periodSummaryReportViewEntity","periodVariationViewEntity","phantomEntity","physicalInventoryCountSheetDetailEntity","physicalInventoryCountSheetHeaderEntity","physicalInventoryDetailEntity","physicalInventoryDetailImportEntity","physicalInventoryHeaderEntity","physicalInventoryReasonEntity","pickingDetailEntity","pickingDetailQuantitiesEntity","pickingHeaderEntity","plannedPaymentEntity","plannedPaymentViewEntity","positionEntity","preliminaryProductionBomItemEntity","preliminaryProductionReservationEntity","preliminaryPurchaseEntity","preliminaryPurchaseReallocationEntity","preliminaryPurchaseReservedMaterialEntity","priceListCategoryEntity","printWorkOrderEntity","priorityEntity","processWorkflowEntity","processWorkflowStepEntity","processWorkflowStepRelationEntity","processWorkflowStepRelationGroupEntity","productCategoryEntity","productionEntryEntity","productionEntryBatchEntity","productionEntryMaterialReservationEntity","productionEntryQueueEntity","productionLineEntity","productionLineAssistanceRequestEntity","productionLineStationEntity","productionLineStationStatusColorEntity","productionLineStationTaskEntity","productionLotEntity","productionScheduleEntity","productionTaskActivityEntity","productionTasksEntity","productionTaskSOInfoViewEntity","productionTaskWithAdvancedInfoViewEntity","projectEntity","projectAllocationEntity","projectChargeEntity","projectCostPlusEntity","projectManufacturedEntity","projectPurchaseResaleEntity","projectQuotesEntity","projectSalesOrderEntity","projectViewEntity","provinceEntity","punchEntity","punchMachineEntity","punchNeatEntity","purchaseItemSubContractingConfigurationEntity","purchaseItemSubContractingConfigurationViewEntity","purchaseOrderAdditionalChargeEntity","purchaseOrderDetailEntity","purchaseOrderHeaderEntity","purchaseOrderStatusEntity","purchaseOrderTaxesEntity","purchaseOrderTypeEntity","purchaseSettingsEntity","qaInventoryLotEntity","qtyManagementRulesEntity","qtyReachingModeEntity","qualifiedVendorEntity","quoteDetailEntity","quoteDetailCustomFieldEntity","quoteDetailImportEntity","quoteEstimatedBomEntity","quoteEstimatedOperationEntity","quoteEstimationEntity","quoteHeaderEntity","quoteHeaderCustomFieldEntity","quoteHeaderImportEntity","quoteStatusEntity","quoteStatusLogEntity","quoteTaxesEntity","receivingAllocationsViewEntity","receivingItemViewEntity","receptionEntity","receptionItemEntity","receptionPayableInvoiceEntity","receptionPoEntity","receptionPoAdditionalInfoEntity","receptionPurchaseOrderStatusEntity","receptionQtyEntity","receptionStatusEntity","recommendedReorderByJobEntity","reconciliationBankTransactionViewEntity","reconciliationDepositDetailViewEntity","reconciliationDepositViewEntity","reconciliationJournalEntryDetailViewEntity","reconciliationJournalEntryViewEntity","reconciliationPaymentBankChargeViewEntity","reconciliationPaymentViewEntity","relatedDocumentEntity","relatedDocumentImportEntity","relatedDocumentViewEntity","requestForQuotationDetailEntity","requestForQuotationHeaderEntity","requestForQuotationVendorEntity","reservedMaterialEntity","resourceTypeEntity","rmaReasonEntity","rmaTypeEntity","roadEntity","roadCarrierEntity","roadScheduleEntity","routingByWarehouseEntity","routingFormulaEntity","routingsEntity","routingSimulationEntity","ruptureModeEntity","salesInvoiceAppliedPrePaymentsAndPaymentEntity","salesmanEntity","salesOrderAdvancedBillingHistoryEntity","salesOrderAdvancePlanningViewEntity","salesOrderDetailEntity","salesOrderDetailStatusEntity","salesOrderDetailStatusActionEntity","salesOrderHeaderEntity","salesOrderPrePaymentAndAdvancePlanningBalanceViewEntity","salesOrderSpecificationViewEntity","salesOrderStatusEntity","salesOrderTaxesEntity","salesOrderTypeEntity","scheduleEntity","scheduleDetailEntity","scheduleDetailBreakTimeEntity","schedulingJobSimulatedVsRealViewEntity","schedulingSimulationEntity","schedulingSimulationDbrEntity","schedulingSimulationDbrJobEntity","schedulingSimulationDbrJobBudgetScheduleEntity","schedulingSimulationDbrJobMilestoneEntity","schedulingSimulationDbrJobScheduleEntity","schedulingSimulationMaterialAvailabilityEntity","shippingEntity","shippingDetailEntity","shippingDocumentAndHeaderViewEntity","shippingDocumentViewEntity","shippingHeaderEntity","shippingHeaderTypeEntity","shippingItemEntity","shippingMemoDetailEntity","shippingMemoDetailViewEntity","shippingMemoFullInfoViewEntity","shippingMemoHeaderEntity","shippingMemoHeaderViewEntity","shippingModeEntity","shippingQtyEntity","shippingStatusEntity","shopFloorTaskAndLotEntity","shopFloorTaskListEntity","shopFloorV2TaskViewEntity","shortageMaterialPlanEntity","sourceEntity","subcontractEntity","subcontractCostEntity","subcontractingCommitmentEntity","subcontractingJobEntity","subcontractingPoAssignmentViewEntity","tagEntity","taskConstraintEntity","taskPredecessorEntity","taskScheduleEntity","taskTypeEntity","taxCodeEntity","taxGroupDetailEntity","taxGroupHeaderEntity","taxReportingIdentificationCodeEntity","taxReportingIdentificationTypeEntity","taxReportingTypeEntity","templateAttachmentEntity","territoryEntity","textTranslationDetailEntity","textTranslationHeaderEntity","textTranslationPivotViewEntity","timeCategoryEntity","timeEntryCustomFieldEntity","timeEntryHeaderEntity","timesheetEntity","timesheetTaskEntity","toolingEntity","toolingReferenceEntity","traceLogEntity","transactionModeEntity","unitEntity","unitCategoryEntity","unitConversionEntity","unitConversionAvailableEntity","unpaidCustomerInvoiceHeaderImportEntity","unpaidVendorInvoiceHeaderImportEntity","usageModeEntity","userEntity","userTaskEntity","userTaskBasicViewEntity","userTaskInspectionFullInfoViewEntity","userTaskInspectionImportEntity","userTaskInspectionViewEntity","userTaskLotFormatEntity","userTaskTemplateConfigurationEntity","userTaskTemplateImportEntity","userTaskTemplateViewEntity","userTaskTypeEntity","vcWarrantyManagementLotEntity","vEmployeeCompleteScheduleEntity","vEmployeeScheduleEntity","vendorEntity","vendorAveragePaymentDelaysViewEntity","vendorBankInformationEntity","vendorGroupEntity","vendorNetworkEntity","vendorNetworkLogEntity","vendorPriceListDetailEntity","vendorPriceListDetailImportEntity","vendorPriceListHeaderEntity","vendorTaxReportingEntity","vendorTypeEntity","vendorViewEntity","vendorWarehouseEntity","vendorWarehouseImportEntity","vendorWarehouseRestrictionEntity","vitemLocationsEntity","voidCheckEntity","wageCodeEntity","wageDetailEntity","wageDetailViewEntity","warehouseEntity","warehouseAddressModeEntity","warehouseImportEntity","warehouseInventoryEntity","warrantyEntity","warrantyImportEntity","warrantyViewEntity","woInProgressEntity","workflowEntity","workHistoryEntity","workOrderEntity","workOrderActiveEntity","workOrderGeniusTriggerEntity","workOrderMovementDetailEntity","workOrderMovementHeaderEntity","workOrderMovementSummaryEntity","workOrderStatusEntity","workOrderStatusInProcessEntity","workOrderStatusLogEntity","workOrderViewEntity","workOrderWithAdvancedInformationViewEntity","workScheduleEntity","workTaskEntity","workTaskViewEntity","xmReceptEntity"]},{"name":"data","in":"body","description":"Transaction data","required":true,"schema":{"$ref":"#/definitions/BatchTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[BatchTransaction]"}},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/data/collection/{entityType}/{fieldName}/distinct":{"get":{"tags":["Data"],"summary":"Get distinct field values","description":"Change History:\r\n                <ul><li>Introduced in v12.0</li></ul><hr />\r\n                Retrieves the list of distinct values for a given entity field.\r\n                Will excludes null or emtpy string values.","operationId":"DataWeb_CollectionDistinct","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"entityType","in":"path","description":"Type of entity used","required":true,"type":"string","enum":["abcEntity","accountingExportLogEntity","accountingIntegrityCheckGlListEntity","accountingIntegrityCheckHeaderEntity","accountingIntegrityCheckHeaderViewEntity","accountingIntegrityCheckSummaryEntity","accountingTransactionDetailEntity","accountingTransactionHeaderEntity","accountingTransactionTypeEntity","accountingVariationPerPeriodEntity","accrualCogsEntity","activityEntity","activityLinkedEntity","activityLinkedManufacturingStepVersionImportEntity","activityLinkedProductionTaskImportEntity","activityLinkedRoutingImportEntity","activityLinkedUserTaskImportEntity","activityLinkedViewEntity","activityTemplateDetailEntity","activityTemplateHeaderEntity","activityTemplateHeaderViewEntity","activityValueTypeEntity","activityViewEntity","additionalChargeEntity","advancedBillingEntity","apAccrualTemplateEntity","aPInvoiceDetailEntity","aPInvoiceDetailAddCostEntity","aPInvoiceDetailGlEntity","apInvoiceDetailGlIntercoEntity","aPInvoiceDetailTaxEntity","aPInvoiceDetailViewEntity","aPInvoiceHeaderEntity","aPInvoiceStatusEntity","aPPaymentEntity","aPPaymentDetailViewEntity","aPPaymentGLEntity","aPPaymentInvoiceEntity","aPPaymentInvoiceBalanceEntity","aPPaymentInvoiceViewEntity","aPPaymentModeEntity","aPPaymentNavViewEntity","aPPaymentStatusEntity","aPPaymentTypeEntity","aPPaymentViewEntity","apsForecastEntity","apTransactionEntity","apTransactionViewEntity","arTransactionEntity","arTransactionViewEntity","assistanceReasonEntity","attachmentEntity","attachmentImportEntity","auditDetailEntity","auditHeaderEntity","automaticAllocationEntity","automaticConsumptionEntity","automaticConsumptionJobEntity","availableTemplateAttachmentEntity","backdatedInventoryDashboardEntity","bankEntity","bankCurrencyEntity","bankReconciliationEntity","billOfMaterialEntity","bomcostRollupXmEntity","bomEstimateRollupResultEntity","bomExplodedEntity","bomExploseVersionedEntity","bomItemEntity","bomItemEstimateEntity","bomItemEstimateImportEntity","bomItemVersionEntity","bomItemVersionCustomFieldImportEntity","bomSimulationEntity","bomSimulationExploseEntity","bomSimulationExploseVersionedEntity","bomSubcontractingEstimateEntity","bomSubcontractingEstimateImportEntity","bomVersionEntity","bomVersionExplodedEntity","bomVersionMilestoneEntity","bomVersionMilestoneImportEntity","bomVersionMilestoneViewEntity","budgetJobCostEntity","budgetPerPeriodViewEntity","budgetSummaryBOMRollupEntity","budgetSummaryEstimateRollupEntity","buyerEntity","calculationModeEntity","carrierEntity","categoryConsumptionEntity","categoryOfAttachmentEntity","classeEntity","classificationEntity","cogsEntity","communicationContactTemplateEntity","communicationLogEntity","communicationLogContactEntity","communicationTemplateEntity","communicationTypeEntity","companyVariableEntity","companyVariableValueEntity","comparativeJcDetailEntity","comparativeJcJobListEntity","comparativeJobViewEntity","configurationDetailEntity","configurationHeaderEntity","configuratorConditionDetailEntity","configuratorConditionHeaderEntity","configuratorEstimateOptionEntity","configuratorParameterEntity","configuratorParameterAnswerEntity","configuratorParameterBomItemVersionActionEntity","configuratorParameterBomItemVersionFormulaEntity","configuratorParameterBomItemVersionFormulaLinkEntity","configuratorParameterConditionEntity","configuratorParameterDataSourceEntity","configuratorParameterSectionEntity","configuratorParameterSetEntity","configuratorProfileEntity","constraintSourceEntity","constraintTypeEntity","consumptionReservationLinkEntity","contactEntity","contactEmailEntity","contactGroupEntity","contactGroupReportGroupEntity","contactImportEntity","contactInformationTypeEntity","contactLinkedEntity","contactLinkedGroupEntity","contactLinkGroupImportEntity","contactLinkImportEntity","contactPhoneEntity","controlTypeEntity","convertedImagesEntity","correctionCategoryEntity","costCategoryEntity","costCategoryLoadingViewEntity","costingModeEntity","costPlusImputationEntity","costPlusImputationApprovalDetailEntity","costPlusImputationApprovalHeaderEntity","costPlusImputationDetailEntity","costPlusImputationViewEntity","costPlusJobEntity","costRollUpDetailEntity","costTypeEntity","countryEntity","creditCardTransactionEntity","creditLimitFilteringViewEntity","creditLimitViewEntity","currencyEntity","currencyTransactionTypeEntity","customerEntity","customerAveragePaymentDelaysViewEntity","customerBankInformationEntity","customerCreditMarginEntity","customerGroupEntity","customerGroupViewEntity","customerInvoiceAppliedAdvanceEntity","customerInvoiceDetailEntity","customerInvoiceDetailGlEntity","customerInvoiceDetailViewEntity","customerInvoiceHeaderEntity","customerInvoiceHeaderGlEntity","customerInvoiceQtyEntity","customerInvoiceStatusEntity","customerInvoiceTaxesEntity","customerItemPriceEntity","customerPaymentModeEntity","customerReceiptEntity","customerReceiptDetailViewEntity","customerReceiptGlEntity","customerReceiptInvoiceEntity","customerReceiptInvoiceBalanceEntity","customerReceiptInvoiceViewEntity","customerReceiptTypeEntity","customerReceiptViewEntity","customerRfqDetailViewEntity","customerRfqHeaderViewEntity","customerStatementSummaryInfoTemplateEntity","customerViewEntity","customFieldDefinitionEntity","customFieldInventoryLotEntity","customFieldMappingEntity","customFieldSqlTypeViewEntity","customFieldValueEntity","customFieldViewEntity","customMasterFilesEntity","customModulesEntity","dashboardCostsEntity","dashboardGlAccountDetailEntity","dashboardInventoryItemByWarehouseEntity","dashboardInventoryLotEntity","dashboardMaterialAllocationEntity","dashboardObjectEntity","dashboardSalesOrderBookEntity","dashboardSchedulingEntity","dashboardSettingEntity","dashboardWipEntity","dataCollectionMessagingEntity","dataSourceEntity","dataSourceTypeEntity","dateFormatBankCheckReportViewEntity","dbrJobScheduleEntity","defaultExchangeRateTypePerTransactionEntity","departmentEntity","depositEntity","depositNavViewEntity","depositStatusEntity","dimTimeEntity","directLabourEntity","directLabourNeatEntity","discountSheetDetailEntity","discountSheetHeaderEntity","documentPackagingSourceEntity","drumEntity","drumEquivalentUnitEntity","drumEquivalentUnitViewEntity","drumGroupEntity","drumViewEntity","ediGroupEntity","ediTransactionEntity","ediTransactionLogEntity","ediTransactionSalesOrderEntity","eFTDetailEntity","eFTHeaderEntity","eFTHeaderNavViewEntity","embeddedFileEntity","employeeEntity","employeeAvailableBankEntity","employeeBankConfigurationViewEntity","employeeConfigurationEntity","employeeConfigurationImportEntity","employeeConfigurationViewEntity","employeeScheduleEntity","employeeTimesheetEntryEntity","employeeTypeEntity","employeeWageEntity","employeeWarehouseDefaultLocationEntity","employeeWarehouseRestrictionEntity","employeeWarehouseViewEntity","engineeringSpecification1Entity","engineeringSpecification10Entity","engineeringSpecification11Entity","engineeringSpecification12Entity","engineeringSpecification13Entity","engineeringSpecification14Entity","engineeringSpecification15Entity","engineeringSpecification16Entity","engineeringSpecification2Entity","engineeringSpecification3Entity","engineeringSpecification4Entity","engineeringSpecification5Entity","engineeringSpecification6Entity","engineeringSpecification7Entity","engineeringSpecification8Entity","engineeringSpecification9Entity","entityWatcherConflictEntity","equipmentEntity","equipmentChildImportEntity","equipmentGroupEntity","equipmentImportEntity","equipmentSparePartEntity","equipmentSparePartImportEntity","equipmentViewEntity","equipmentWarrantyEntity","equipmentWarrantyImportEntity","equipmentWarrantyViewEntity","estimateCurrencyEntity","estimateCurrencyViewEntity","estimateDocumentEntity","estimateHeaderEntity","estimateHeaderImportEntity","estimateHeaderViewEntity","exchangeRateHistoryEntity","exchangeRateTypeEntity","expenseCategoryEntity","expenseCategoryViewEntity","expenseDetailEntity","expenseDetailGlEntity","expenseDetailImportEntity","expenseDetailTaxEntity","expenseDetailTaxViewEntity","expenseDetailViewEntity","expenseHeaderEntity","expenseHeaderImportEntity","expenseHeaderViewEntity","familyEntity","familyGroupEntity","familyViewEntity","fieldServicesAssignmentGroupEntity","fieldServicesAssignmentGroupDateRangeEntity","fieldServicesAssignmentGroupEmployeeEntity","fieldServicesAssignmentGroupJobMilestoneEntity","filterEntryPointDetailEntity","filterEntryPointHeaderEntity","filterExpressionEntity","filterHeaderEntity","filterRelationEntity","filterSetEntity","filterSortEntity","financialBudgetDetailEntity","financialBudgetDetailAmountEntity","financialBudgetHeaderEntity","financialBudgetHeaderViewEntity","financialDashboardvsBudgetTemplateEntity","financialDashboardvsPrevYearTemplateEntity","fiscalPeriodEntity","fiscalPeriodWithSystemPeriodEntity","fiscalYearEntity","fixedPriceProjectInfoEntity","fixedPriceSalesOrderDetailEntity","genericMasterFilesEntity","genericMasterFilesValueEntity","geniusDashboardConfigDetailEntity","geniusDashboardConfigHeaderEntity","geniusTypeEntity","glAccountEntity","glAccountCurrencyEntity","glAccountGroupEntity","glAccountGroupClassEntity","glAccountGroupClassTypeEntity","glaccountOverrideMatrixValidationEntity","glAccountSegmentEntity","glAccountSegmentCodeEntity","glAccountSegmentOverrideEntity","glAccountSegmentOverrideDetailEntity","glAccountSubClassEntity","glAccountViewEntity","glBreakdownByCategoryEntity","glInventoryValueItemWarehouseEntity","glInventoryValueWarehouseEntity","glOverrideCategoryEntity","glOverrideEntityListEntity","glOverrideEntitySourceEntity","glOverrideMasterFileEntity","gLTemplateDetailEntity","gLTemplateDetailViewEntity","gLTemplateHeaderEntity","glTransactionEntity","glTransactionExportedBatchEntity","glTransactionExtendedEntity","glTransactionHeaderEntity","icTransactionEntity","icTransactionViewEntity","incomeRecognitionEntity","incomeRecognitionInvoiceEntity","incomeRecognitionViewEntity","inspectionEntity","inspectionTypeEntity","intercoGlAccountEntity","interwarehouseContractDefinitionEntity","interwarehouseDocumentLinkEntity","interwarehouseSalesOrderCreationModeEntity","interwarehouseTransferDetailEntity","interwarehouseTransferDetailViewEntity","interwarehouseTransferHeaderEntity","interwarehouseTransferHeaderViewEntity","interwarehouseTransferQtyEntity","interwarehouseTransferQtyReceivedEntity","interwarehouseTransferQtyViewEntity","inventoryEntity","inventoryAdjustmentEntity","inventoryByLocationEntity","inventoryCostHistoryEntity","inventoryCostTypeEntity","inventoryCreationDetailEntity","inventoryCreationDetailImportEntity","inventoryCreationHeaderEntity","inventoryCustomEntity","inventoryLotEntity","inventoryLotByLocationEntity","inventoryLotByLocationViewEntity","inventoryLotStatusEntity","inventoryReleaseEntity","inventoryReleaseDetailedViewEntity","inventoryReleaseSummaryEntity","inventoryTransactionEntity","inventoryTransactionBackdatedEntity","inventoryTransactionGLTransactionEntity","inventoryTransactionHistoryDetailViewEntity","inventoryTransactionHistoryHeaderViewEntity","inventoryTransactionLocationEntity","inventoryTransactionLotEntity","inventoryTransactionViewEntity","inventoryTransactionWarehouseEntity","inventoryValueItemWarehouseEntity","inventoryValueWarehouseEntity","invLocEntity","invLocLocalisationEntity","invlocTraceEntity","itemEntity","itemAdditionalChargeEntity","itemBehaviorViewEntity","itemBudgetEntity","itemBudgetImportEntity","itemConversionFactorEntity","itemConversionListEntity","itemCustomEntity","itemCustomFieldImportEntity","itemDocumentRevisionEntity","itemEngineeringEntity","itemGeneratorExpressionEntity","itemGeneratorResultEntity","itemGeneratorSettingEntity","itemInventoryEntity","itemLightEntity","itemLocationAndInventoryPriorityOrderViewEntity","itemLocationAndInventoryViewEntity","itemLocationsEntity","itemLocationWarehouseImportEntity","itemManufacturerEntity","itemMaterialPlanForecastDetailEntity","itemMaterialPlanForecastHeaderEntity","itemPreliminaryPurchaseEntity","itemPreliminaryPurchaseImportEntity","itemQuantitiesByWarehouseEntity","itemQuantitiesByWarehouseWithWhContractEntity","itemRenamingEntity","itemShortageEntity","itemStatusEntity","itemTypeEntity","itemUsageEntity","itemVariationEntity","itemWarehouseImportEntity","itemWarehousesEntity","jcTransactionEntity","jcTransactionViewEntity","jobEntity","jobAdditionnalInfoViewEntity","jobBudgetEntity","jobBudgetScheduleEntity","jobBudgetScheduleAssignmentEntity","jobBudgetScheduleAssignmentViewEntity","jobBudgetViewEntity","jobChangeOrderLogEntity","jobCostDirectLaborEntity","jobCostingEntity","jobCostInventoryReleaseEntity","jobCostMaterialEntity","jobCostSalesEntity","jobCostSubcontractingEntity","jobDrumTaskListViewEntity","jobExtensionEntity","jobHistoryEntity","jobMilestoneEntity","jobMilestoneImportEntity","jobMilestoneViewEntity","jobPrefixEntity","jobRiskEntity","jobStatusEntity","jobStatusGenericMasterFileEntity","jobTaskConstraintViewEntity","jobViewEntity","journalEntryDetailEntity","journalEntryDetailIntercoEntity","journalEntryHeaderEntity","journalEntryHeaderRecurringViewEntity","journalEntryHeaderViewEntity","languageEntity","lateOpenedPunchEntity","linkedAttachmentEntity","locationEntity","locationCategoryEntity","locationInventoryEntity","logEntity","machineAndRessourceEntity","machineCalendarEntity","machineCalendarCostCategoryEntity","machineCalendarDrumEntity","machineCalendarScheduleEntity","machineCalendarScheduleAvailabilityHoursEntity","machineCalendarViewEntity","machineGroupEntity","machineLoadingEntity","machineMethodConsumptionEntity","manufacturingStepEntity","manufacturingStepEstimateEntity","manufacturingStepEstimateImportEntity","manufacturingStepVersionEntity","manufacturingStepVersionCustomFieldImportEntity","materialAllocationEntity","materialAvailabilityGenericMasterFileEntity","materialCommitmentEntity","materialConsumptionEntity","materialConsumptionDetailEntity","materialConsumptionHeaderEntity","materialConsumptionHeaderViewEntity","materialPlanEntity","materialPlanAssignmentEntity","materialPlanInlistEntity","materialReservationWithConsumptionEntity","milestoneEntity","milestoneGroupEntity","milestoneImportEntity","milestoneTemplateDetailEntity","milestoneTemplateDetailImportEntity","milestoneTemplateDetailViewEntity","milestoneTemplateHeaderEntity","milestoneTemplateHeaderImportEntity","milestoneTemplateHeaderViewEntity","milestoneViewEntity","mpsPlanEntity","mpsPriorityEntity","nCRIncidentEntity","nCRResponsibilityEntity","nCRRootCauseEntity","nCRTreatmentEntity","nonConformityEntity","nonConformityCostEntity","nonConformityMasterFileEntity","nonConformityViewEntity","noteEntity","ongoingAutomaticAllocationEntity","ongoingSubcontractingEntity","openWoDashboardEntity","operationEntity","orderEntrySpecification1Entity","orderEntrySpecification2Entity","originEntity","packagingDetailEntity","packagingDetailViewEntity","packagingHeaderEntity","packagingHeaderViewEntity","packagingQtyEntity","packagingQtyViewEntity","packagingTypeEntity","packagingTypeViewEntity","payableInvoiceGlBreakdownEntity","payableInvoiceHeaderEntity","payableInvoiceTaxesEntity","payBreakTimeEntity","payGroupEntity","paymentTermEntity","periodManagementEntity","periodSummaryReportViewEntity","periodVariationViewEntity","phantomEntity","physicalInventoryCountSheetDetailEntity","physicalInventoryCountSheetHeaderEntity","physicalInventoryDetailEntity","physicalInventoryDetailImportEntity","physicalInventoryHeaderEntity","physicalInventoryReasonEntity","pickingDetailEntity","pickingDetailQuantitiesEntity","pickingHeaderEntity","plannedPaymentEntity","plannedPaymentViewEntity","positionEntity","preliminaryProductionBomItemEntity","preliminaryProductionReservationEntity","preliminaryPurchaseEntity","preliminaryPurchaseReallocationEntity","preliminaryPurchaseReservedMaterialEntity","priceListCategoryEntity","printWorkOrderEntity","priorityEntity","processWorkflowEntity","processWorkflowStepEntity","processWorkflowStepRelationEntity","processWorkflowStepRelationGroupEntity","productCategoryEntity","productionEntryEntity","productionEntryBatchEntity","productionEntryMaterialReservationEntity","productionEntryQueueEntity","productionLineEntity","productionLineAssistanceRequestEntity","productionLineStationEntity","productionLineStationStatusColorEntity","productionLineStationTaskEntity","productionLotEntity","productionScheduleEntity","productionTaskActivityEntity","productionTasksEntity","productionTaskSOInfoViewEntity","productionTaskWithAdvancedInfoViewEntity","projectEntity","projectAllocationEntity","projectChargeEntity","projectCostPlusEntity","projectManufacturedEntity","projectPurchaseResaleEntity","projectQuotesEntity","projectSalesOrderEntity","projectViewEntity","provinceEntity","punchEntity","punchMachineEntity","punchNeatEntity","purchaseItemSubContractingConfigurationEntity","purchaseItemSubContractingConfigurationViewEntity","purchaseOrderAdditionalChargeEntity","purchaseOrderDetailEntity","purchaseOrderHeaderEntity","purchaseOrderStatusEntity","purchaseOrderTaxesEntity","purchaseOrderTypeEntity","purchaseSettingsEntity","qaInventoryLotEntity","qtyManagementRulesEntity","qtyReachingModeEntity","qualifiedVendorEntity","quoteDetailEntity","quoteDetailCustomFieldEntity","quoteDetailImportEntity","quoteEstimatedBomEntity","quoteEstimatedOperationEntity","quoteEstimationEntity","quoteHeaderEntity","quoteHeaderCustomFieldEntity","quoteHeaderImportEntity","quoteStatusEntity","quoteStatusLogEntity","quoteTaxesEntity","receivingAllocationsViewEntity","receivingItemViewEntity","receptionEntity","receptionItemEntity","receptionPayableInvoiceEntity","receptionPoEntity","receptionPoAdditionalInfoEntity","receptionPurchaseOrderStatusEntity","receptionQtyEntity","receptionStatusEntity","recommendedReorderByJobEntity","reconciliationBankTransactionViewEntity","reconciliationDepositDetailViewEntity","reconciliationDepositViewEntity","reconciliationJournalEntryDetailViewEntity","reconciliationJournalEntryViewEntity","reconciliationPaymentBankChargeViewEntity","reconciliationPaymentViewEntity","relatedDocumentEntity","relatedDocumentImportEntity","relatedDocumentViewEntity","requestForQuotationDetailEntity","requestForQuotationHeaderEntity","requestForQuotationVendorEntity","reservedMaterialEntity","resourceTypeEntity","rmaReasonEntity","rmaTypeEntity","roadEntity","roadCarrierEntity","roadScheduleEntity","routingByWarehouseEntity","routingFormulaEntity","routingsEntity","routingSimulationEntity","ruptureModeEntity","salesInvoiceAppliedPrePaymentsAndPaymentEntity","salesmanEntity","salesOrderAdvancedBillingHistoryEntity","salesOrderAdvancePlanningViewEntity","salesOrderDetailEntity","salesOrderDetailStatusEntity","salesOrderDetailStatusActionEntity","salesOrderHeaderEntity","salesOrderPrePaymentAndAdvancePlanningBalanceViewEntity","salesOrderSpecificationViewEntity","salesOrderStatusEntity","salesOrderTaxesEntity","salesOrderTypeEntity","scheduleEntity","scheduleDetailEntity","scheduleDetailBreakTimeEntity","schedulingJobSimulatedVsRealViewEntity","schedulingSimulationEntity","schedulingSimulationDbrEntity","schedulingSimulationDbrJobEntity","schedulingSimulationDbrJobBudgetScheduleEntity","schedulingSimulationDbrJobMilestoneEntity","schedulingSimulationDbrJobScheduleEntity","schedulingSimulationMaterialAvailabilityEntity","shippingEntity","shippingDetailEntity","shippingDocumentAndHeaderViewEntity","shippingDocumentViewEntity","shippingHeaderEntity","shippingHeaderTypeEntity","shippingItemEntity","shippingMemoDetailEntity","shippingMemoDetailViewEntity","shippingMemoFullInfoViewEntity","shippingMemoHeaderEntity","shippingMemoHeaderViewEntity","shippingModeEntity","shippingQtyEntity","shippingStatusEntity","shopFloorTaskAndLotEntity","shopFloorTaskListEntity","shopFloorV2TaskViewEntity","shortageMaterialPlanEntity","sourceEntity","subcontractEntity","subcontractCostEntity","subcontractingCommitmentEntity","subcontractingJobEntity","subcontractingPoAssignmentViewEntity","tagEntity","taskConstraintEntity","taskPredecessorEntity","taskScheduleEntity","taskTypeEntity","taxCodeEntity","taxGroupDetailEntity","taxGroupHeaderEntity","taxReportingIdentificationCodeEntity","taxReportingIdentificationTypeEntity","taxReportingTypeEntity","templateAttachmentEntity","territoryEntity","textTranslationDetailEntity","textTranslationHeaderEntity","textTranslationPivotViewEntity","timeCategoryEntity","timeEntryCustomFieldEntity","timeEntryHeaderEntity","timesheetEntity","timesheetTaskEntity","toolingEntity","toolingReferenceEntity","traceLogEntity","transactionModeEntity","unitEntity","unitCategoryEntity","unitConversionEntity","unitConversionAvailableEntity","unpaidCustomerInvoiceHeaderImportEntity","unpaidVendorInvoiceHeaderImportEntity","usageModeEntity","userEntity","userTaskEntity","userTaskBasicViewEntity","userTaskInspectionFullInfoViewEntity","userTaskInspectionImportEntity","userTaskInspectionViewEntity","userTaskLotFormatEntity","userTaskTemplateConfigurationEntity","userTaskTemplateImportEntity","userTaskTemplateViewEntity","userTaskTypeEntity","vcWarrantyManagementLotEntity","vEmployeeCompleteScheduleEntity","vEmployeeScheduleEntity","vendorEntity","vendorAveragePaymentDelaysViewEntity","vendorBankInformationEntity","vendorGroupEntity","vendorNetworkEntity","vendorNetworkLogEntity","vendorPriceListDetailEntity","vendorPriceListDetailImportEntity","vendorPriceListHeaderEntity","vendorTaxReportingEntity","vendorTypeEntity","vendorViewEntity","vendorWarehouseEntity","vendorWarehouseImportEntity","vendorWarehouseRestrictionEntity","vitemLocationsEntity","voidCheckEntity","wageCodeEntity","wageDetailEntity","wageDetailViewEntity","warehouseEntity","warehouseAddressModeEntity","warehouseImportEntity","warehouseInventoryEntity","warrantyEntity","warrantyImportEntity","warrantyViewEntity","woInProgressEntity","workflowEntity","workHistoryEntity","workOrderEntity","workOrderActiveEntity","workOrderGeniusTriggerEntity","workOrderMovementDetailEntity","workOrderMovementHeaderEntity","workOrderMovementSummaryEntity","workOrderStatusEntity","workOrderStatusInProcessEntity","workOrderStatusLogEntity","workOrderViewEntity","workOrderWithAdvancedInformationViewEntity","workScheduleEntity","workTaskEntity","workTaskViewEntity","xmReceptEntity"]},{"name":"fieldName","in":"path","description":"The name of the field","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RestResponse[Object[]]"}},"400":{"description":"Unsupported field"},"401":{"description":"Authentication Required"}},"deprecated":false}},"/api/data/collection/{entityType}/{primaryKeys}/exists":{"get":{"tags":["Data"],"summary":"Checks whether all entities exist by their primary keys","description":"Change History:\r\n                <ul><li>Introduced in v8.5</li></ul><hr />","operationId":"DataWeb_CollectionExists","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"entityType","in":"path","description":"Type of entity used","required":true,"type":"string","enum":["abcEntity","accountingExportLogEntity","accountingIntegrityCheckGlListEntity","accountingIntegrityCheckHeaderEntity","accountingIntegrityCheckHeaderViewEntity","accountingIntegrityCheckSummaryEntity","accountingTransactionDetailEntity","accountingTransactionHeaderEntity","accountingTransactionTypeEntity","accountingVariationPerPeriodEntity","accrualCogsEntity","activityEntity","activityLinkedEntity","activityLinkedManufacturingStepVersionImportEntity","activityLinkedProductionTaskImportEntity","activityLinkedRoutingImportEntity","activityLinkedUserTaskImportEntity","activityLinkedViewEntity","activityTemplateDetailEntity","activityTemplateHeaderEntity","activityTemplateHeaderViewEntity","activityValueTypeEntity","activityViewEntity","additionalChargeEntity","advancedBillingEntity","apAccrualTemplateEntity","aPInvoiceDetailEntity","aPInvoiceDetailAddCostEntity","aPInvoiceDetailGlEntity","apInvoiceDetailGlIntercoEntity","aPInvoiceDetailTaxEntity","aPInvoiceDetailViewEntity","aPInvoiceHeaderEntity","aPInvoiceStatusEntity","aPPaymentEntity","aPPaymentDetailViewEntity","aPPaymentGLEntity","aPPaymentInvoiceEntity","aPPaymentInvoiceBalanceEntity","aPPaymentInvoiceViewEntity","aPPaymentModeEntity","aPPaymentNavViewEntity","aPPaymentStatusEntity","aPPaymentTypeEntity","aPPaymentViewEntity","apsForecastEntity","apTransactionEntity","apTransactionViewEntity","arTransactionEntity","arTransactionViewEntity","assistanceReasonEntity","attachmentEntity","attachmentImportEntity","auditDetailEntity","auditHeaderEntity","automaticAllocationEntity","automaticConsumptionEntity","automaticConsumptionJobEntity","availableTemplateAttachmentEntity","backdatedInventoryDashboardEntity","bankEntity","bankCurrencyEntity","bankReconciliationEntity","billOfMaterialEntity","bomcostRollupXmEntity","bomEstimateRollupResultEntity","bomExplodedEntity","bomExploseVersionedEntity","bomItemEntity","bomItemEstimateEntity","bomItemEstimateImportEntity","bomItemVersionEntity","bomItemVersionCustomFieldImportEntity","bomSimulationEntity","bomSimulationExploseEntity","bomSimulationExploseVersionedEntity","bomSubcontractingEstimateEntity","bomSubcontractingEstimateImportEntity","bomVersionEntity","bomVersionExplodedEntity","bomVersionMilestoneEntity","bomVersionMilestoneImportEntity","bomVersionMilestoneViewEntity","budgetJobCostEntity","budgetPerPeriodViewEntity","budgetSummaryBOMRollupEntity","budgetSummaryEstimateRollupEntity","buyerEntity","calculationModeEntity","carrierEntity","categoryConsumptionEntity","categoryOfAttachmentEntity","classeEntity","classificationEntity","cogsEntity","communicationContactTemplateEntity","communicationLogEntity","communicationLogContactEntity","communicationTemplateEntity","communicationTypeEntity","companyVariableEntity","companyVariableValueEntity","comparativeJcDetailEntity","comparativeJcJobListEntity","comparativeJobViewEntity","configurationDetailEntity","configurationHeaderEntity","configuratorConditionDetailEntity","configuratorConditionHeaderEntity","configuratorEstimateOptionEntity","configuratorParameterEntity","configuratorParameterAnswerEntity","configuratorParameterBomItemVersionActionEntity","configuratorParameterBomItemVersionFormulaEntity","configuratorParameterBomItemVersionFormulaLinkEntity","configuratorParameterConditionEntity","configuratorParameterDataSourceEntity","configuratorParameterSectionEntity","configuratorParameterSetEntity","configuratorProfileEntity","constraintSourceEntity","constraintTypeEntity","consumptionReservationLinkEntity","contactEntity","contactEmailEntity","contactGroupEntity","contactGroupReportGroupEntity","contactImportEntity","contactInformationTypeEntity","contactLinkedEntity","contactLinkedGroupEntity","contactLinkGroupImportEntity","contactLinkImportEntity","contactPhoneEntity","controlTypeEntity","convertedImagesEntity","correctionCategoryEntity","costCategoryEntity","costCategoryLoadingViewEntity","costingModeEntity","costPlusImputationEntity","costPlusImputationApprovalDetailEntity","costPlusImputationApprovalHeaderEntity","costPlusImputationDetailEntity","costPlusImputationViewEntity","costPlusJobEntity","costRollUpDetailEntity","costTypeEntity","countryEntity","creditCardTransactionEntity","creditLimitFilteringViewEntity","creditLimitViewEntity","currencyEntity","currencyTransactionTypeEntity","customerEntity","customerAveragePaymentDelaysViewEntity","customerBankInformationEntity","customerCreditMarginEntity","customerGroupEntity","customerGroupViewEntity","customerInvoiceAppliedAdvanceEntity","customerInvoiceDetailEntity","customerInvoiceDetailGlEntity","customerInvoiceDetailViewEntity","customerInvoiceHeaderEntity","customerInvoiceHeaderGlEntity","customerInvoiceQtyEntity","customerInvoiceStatusEntity","customerInvoiceTaxesEntity","customerItemPriceEntity","customerPaymentModeEntity","customerReceiptEntity","customerReceiptDetailViewEntity","customerReceiptGlEntity","customerReceiptInvoiceEntity","customerReceiptInvoiceBalanceEntity","customerReceiptInvoiceViewEntity","customerReceiptTypeEntity","customerReceiptViewEntity","customerRfqDetailViewEntity","customerRfqHeaderViewEntity","customerStatementSummaryInfoTemplateEntity","customerViewEntity","customFieldDefinitionEntity","customFieldInventoryLotEntity","customFieldMappingEntity","customFieldSqlTypeViewEntity","customFieldValueEntity","customFieldViewEntity","customMasterFilesEntity","customModulesEntity","dashboardCostsEntity","dashboardGlAccountDetailEntity","dashboardInventoryItemByWarehouseEntity","dashboardInventoryLotEntity","dashboardMaterialAllocationEntity","dashboardObjectEntity","dashboardSalesOrderBookEntity","dashboardSchedulingEntity","dashboardSettingEntity","dashboardWipEntity","dataCollectionMessagingEntity","dataSourceEntity","dataSourceTypeEntity","dateFormatBankCheckReportViewEntity","dbrJobScheduleEntity","defaultExchangeRateTypePerTransactionEntity","departmentEntity","depositEntity","depositNavViewEntity","depositStatusEntity","dimTimeEntity","directLabourEntity","directLabourNeatEntity","discountSheetDetailEntity","discountSheetHeaderEntity","documentPackagingSourceEntity","drumEntity","drumEquivalentUnitEntity","drumEquivalentUnitViewEntity","drumGroupEntity","drumViewEntity","ediGroupEntity","ediTransactionEntity","ediTransactionLogEntity","ediTransactionSalesOrderEntity","eFTDetailEntity","eFTHeaderEntity","eFTHeaderNavViewEntity","embeddedFileEntity","employeeEntity","employeeAvailableBankEntity","employeeBankConfigurationViewEntity","employeeConfigurationEntity","employeeConfigurationImportEntity","employeeConfigurationViewEntity","employeeScheduleEntity","employeeTimesheetEntryEnt
[...]
